/*Generics--------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


/*classes----------------------------------------*/

/*Header*/
.header {
    background-color: #1F2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 140px;
    padding-top: 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.navbar h3 {
    color: #F9FAF8;
    font-size: 24px;
}

.navbarlinks {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/*Hero*/
.heroheader {
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

.heroheader h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
}

.heroheader p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
    margin-bottom: 30px;
}

.heroheader button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 1em;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    transition: all 0.4s;
}

.heroheader button:hover {
    background-color: #1c6cec;
    border-top-left-radius: 0;
    border-bottom-left-radius: 15px;
}

.heroheader .imgplaceholder {
    background-color: rgb(63, 63, 63);
    width: 520px;
    height: 250px;
}

/*info body*/

.infobody {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
}

.infobody h2 {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
}

.infoboxcontainer {
    display: flex;
    justify-content: space-around;
    max-width: 60%;
    gap: 80px;
}

.infobox {
    color: #1F2937;
}

.imgBox {
    border: 4px solid #3882F6;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

/*quote body*/

.quotebody {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-bottom: 0px;
}

.quotebody .largequote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.quotebody .signature {
    padding-top: 0px;
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;

}

/*call to action*/

.msgbubble {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #3882F6;
    border-radius: 15px;
    color: #F9FAF8;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msgbubble h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0px;
}

.msgbubble p {
    font-size: 24px;
}

.msgbubble button {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    border: 4px solid white;
    padding: 1.5em;
    max-height: 3em;
    border-radius: 15px;
    transition: all 0.4s;

}

.msgbubble button:hover {
    background-color: #1c6cec;
    border-style: double;
}

/*footer*/

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 1em;
    margin: 0px;
    text-align: center;
    font-weight: 900;
}